body {
    background-color: #c6c6c6 !important;
}


#konten {
    padding-left: 15px;
    padding-right: 15px;    
}

/* =DETAIL LOKASI */

#mini-header {
    background-color: #b2d9c6;
    height: 110px;
    margin-bottom: 30px;    
    border-bottom: 5px solid green;        
}

#mini-header img {
    height: 100px;
}

/* =TABEL*/


table:first-child {
    background-color: red !important;
}

th {
    font-size: 16px;
    color: #fff;
    background-color: #008342 !important;  
    vertical-align: middle !important;      
}
