body, html {
    height: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(9, 126, 74), rgb(0, 75, 44));
}

#content .panel-primary {
	border: #125554;
}

#content .panel-primary > .panel-heading {
	background: #004B2C;
	border: #125554;
	padding:20px 20px;
	font-weight: bold;
	text-align: center;
}

#content .panel-primary > .panel-heading h3 {
	/* font-weight: bold; */
}

#site-login .btn-primary {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0a3130+0,207770+49,125554+51,125554+100 */
background: #004B2C	; /* Old browsers */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a3130', endColorstr='#125554',GradientType=0 ); /* IE6-9 */
padding:10px 10px;
font-weight: bold;
}

.rememberMe {
	margin-bottom:10px;
}