html {
	height:100%;
}

#frontend {

	background-color: #82b1ff ;
	
}


#page {
	padding-left:15px;
	padding-right:15px;
}
#logo {
	margin-top:30px;
	margin-bottom:30px;
}


#efek_tabel {
	
}

#list-harga {

}

#banner-1 {
	margin-top:20px;
}

#banner-2 {
	margin-top: 20px;
}

#footer {
	text-align:center;
}


.jarak {
	margin-bottom: 10px;
}

/* 
=========================
	HEADER
=========================
*/

.header {
	margin: 20px;
	width: 70px;
}


.header h1 {
	color: black !important;
	font-size: 2.5em;
	text-transform: uppercase;
	padding-top: 30px;
}

/* 
=========================
	TABLE
=========================
*/

table {
	width: 100%;
}

table thead {
	background-color: #4d5af2 !important;
	color: #fff;
	text-transform: uppercase;
	font-size: 10px !important;
	margin-top: 30px;
	
}

table thead tr th {
	vertical-align: middle !important;
	font-size: 15px !important;
}

table tr td {
	border-style: none !important;
	font-size: 20px;

}


.logo-kanan img{
	height: 52%;
	width: 80%;
	margin-bottom: 0px;
}

/* FOOTER */

#informasi {
	background-color: black;
	height: 50px;
	width: 85%;
	position: fixed;
	bottom: 0;
	right: 0;
	text-transform: uppercase;
	color: white;
}

#informasi marquee {
	padding: 10px;
}

.informasi {
	font-weight: bold;
	font-size: 24px;
	padding-bottom: 10px; 
}

#jam {
	background-color: transparent;
	height: 50px;
	width: 15%;
	position: fixed;
	position: absolute;
	bottom: 0;
	left: 0;
	text-transform: uppercase;
	color: black;
	font-size: 40px;
	text-align: center;
}

.slidegambar {
    width: 500px;
    height: 210px !important;
    margin-left: auto;
    margin-right: auto;
}